In [107]:
import pandas as pd
import matplotlib.pyplot as plt

In [108]:
df = pd.read_csv('netflix_data.csv')
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,25-Sep-21,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,24-Sep-21,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,24-Sep-21,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,24-Sep-21,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,24-Sep-21,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

Shows&Movies data between year 1925 to 2021

In [109]:
df['release_year'].describe()

count    8807.000000
mean     2014.180198
std         8.819312
min      1925.000000
25%      2013.000000
50%      2017.000000
75%      2019.000000
max      2021.000000
Name: release_year, dtype: float64

In [110]:
df.shape

(8807, 12)

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6175 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [112]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2632
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [113]:
df.duplicated().sum()

0

In [114]:
df.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [115]:
df.dropna(inplace=True)

In [116]:
df.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [117]:
df.shape

(5333, 12)

In [118]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",24-Sep-21,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,24-Sep-21,2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,24-Sep-21,2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic",23-Sep-21,2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,21-Sep-21,1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...

In [119]:
df.reset_index(inplace=True, drop=True)

In [120]:
df.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",24-Sep-21,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
1,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,24-Sep-21,2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
2,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,24-Sep-21,2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...

In [121]:
df['director'].value_counts().head(10)

director
Raúl Campos, Jan Suter    18
Marcus Raboy              15
Jay Karas                 14
Cathy Garcia-Molina       13
Youssef Chahine           12
Jay Chapman               12
Martin Scorsese           12
Steven Spielberg          11
Don Michael Paul          10
David Dhawan               9
Name: count, dtype: int64

In [122]:
df.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",24-Sep-21,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
1,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,24-Sep-21,2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5333 entries, 0 to 5332
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       5333 non-null   object
 1   type          5333 non-null   object
 2   title         5333 non-null   object
 3   director      5333 non-null   object
 4   cast          5333 non-null   object
 5   country       5333 non-null   object
 6   date_added    5333 non-null   object
 7   release_year  5333 non-null   int64
 8   rating        5333 non-null   object
 9   duration      5333 non-null   object
 10  listed_in     5333 non-null   object
 11  description   5333 non-null   object
dtypes: int64(1), object(11)
memory usage: 500.1+ KB

In [124]:
df = df[['title','type','release_year','description','director','cast']]

In [125]:
df.head()

,title,type,release_year,description,director,cast
0,Sankofa,Movie,1993,"On a photo shoot in Ghana, an American model s...",Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D..."
1,The Great British Baking Show,TV Show,2021,A talented batch of amateur bakers face off in...,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho..."
2,The Starling,Movie,2021,A woman adjusting to life after a loss contend...,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T..."
3,Je Suis Karl,Movie,2021,After most of her family is murdered in a terr...,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ..."
4,Jeans,Movie,1998,When the father of the man she loves insists t...,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi..."

In [126]:
set(df['type'])

{'Movie', 'TV Show'}

In [127]:
df['type'] = df['type'].map(lambda x: x.replace(" ",""))
df['director'] = df['director'].map(lambda x: x.replace(" ",""))

In [128]:
df.head(2)

,title,type,release_year,description,director,cast
0,Sankofa,Movie,1993,"On a photo shoot in Ghana, an American model s...",HaileGerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D..."
1,The Great British Baking Show,TVShow,2021,A talented batch of amateur bakers face off in...,AndyDevonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho..."

In [129]:
df['cast'].iloc[2]

"Melissa McCarthy, Chris O'Dowd, Kevin Kline, Timothy Olyphant, Daveed Diggs, Skyler Gisondo, Laura Harrier, Rosalind Chao, Kimberly Quinn, Loretta Devine, Ravi Kapoor"

In [130]:
df['cast'].iloc[2].split(',')

['Melissa McCarthy',
 " Chris O'Dowd",
 ' Kevin Kline',
 ' Timothy Olyphant',
 ' Daveed Diggs',
 ' Skyler Gisondo',
 ' Laura Harrier',
 ' Rosalind Chao',
 ' Kimberly Quinn',
 ' Loretta Devine',
 ' Ravi Kapoor']

picking starting 5 cast from each

In [131]:
def getCast(data):
    result = []
    counter = 0

    for i in data.split(','):
        if counter >4:
            break
        counter+= 1
        result.append(i.replace(" ",""))

    return " ".join(result)

In [132]:
df['cast'] = df['cast'].map(lambda x: getCast(x))

In [133]:
df['cast'].iloc[0]

'KofiGhanaba OyafunmikeOgunlano AlexandraDuah NickMedley Mutabaruka'

In [134]:
df.head(3)

,title,type,release_year,description,director,cast
0,Sankofa,Movie,1993,"On a photo shoot in Ghana, an American model s...",HaileGerima,KofiGhanaba OyafunmikeOgunlano AlexandraDuah N...
1,The Great British Baking Show,TVShow,2021,A talented batch of amateur bakers face off in...,AndyDevonshire,MelGiedroyc SuePerkins MaryBerry PaulHollywood
2,The Starling,Movie,2021,A woman adjusting to life after a loss contend...,TheodoreMelfi,MelissaMcCarthy ChrisO'Dowd KevinKline Timothy...

In [135]:
df['description'].iloc[3]

'After most of her family is murdered in a terrorist bombing, a young woman is unknowingly lured into joining the very group that killed them.'

In [136]:
df[df['title'] == "The Walking Dead"]['description']

183    In the wake of a zombie apocalypse, survivors ...
Name: description, dtype: object

Stemming

In [137]:
from nltk.stem import PorterStemmer

ps = PorterStemmer()

In [138]:
def stemming(data):
    result = []

    for i in data.split():
        result.append(ps.stem(i))
    
    return " ".join(result)

In [139]:
df['description'] = df['description'].map(lambda x: stemming(x))

In [140]:
df['description'].sample(5)

2972    gay activist michael glatz begin a pain journe...
3385    nina think her husband, james, is cheat on her...
761     a free-spirit coupl leav the citi to retir in ...
4127    with their biggest foe seemingli defeated, inu...
3407    due to famili pressure, a corpor man reluctant...
Name: description, dtype: object

In [141]:
df.head(2)

,title,type,release_year,description,director,cast
0,Sankofa,Movie,1993,"on a photo shoot in ghana, an american model s...",HaileGerima,KofiGhanaba OyafunmikeOgunlano AlexandraDuah N...
1,The Great British Baking Show,TVShow,2021,a talent batch of amateur baker face off in a ...,AndyDevonshire,MelGiedroyc SuePerkins MaryBerry PaulHollywood

In [142]:
df['release_year'] = df['release_year'].astype(str)

In [143]:
df['tags'] = df['type']+ " " + df['release_year']+ " " + df['description']+ " " + df['director']+ " " + df['cast']

In [144]:
df['tags']

0       Movie 1993 on a photo shoot in ghana, an ameri...
1       TVShow 2021 a talent batch of amateur baker fa...
2       Movie 2021 a woman adjust to life after a loss...
3       Movie 2021 after most of her famili is murder ...
4       Movie 1998 when the father of the man she love...
                              ...
5328    Movie 2015 recov alcohol talal wake up insid a...
5329    Movie 2007 a polit cartoonist, a crime report ...
5330    Movie 2009 look to surviv in a world taken ove...
5331    Movie 2006 drag from civilian life, a former s...
5332    Movie 2015 a scrappi but poor boy worm hi way ...
Name: tags, Length: 5333, dtype: object

In [145]:
df['tags'].iloc[0]

'Movie 1993 on a photo shoot in ghana, an american model slip back in time, becom enslav on a plantat and bear wit to the agoni of her ancestr past. HaileGerima KofiGhanaba OyafunmikeOgunlano AlexandraDuah NickMedley Mutabaruka'

In [146]:
df['tags'] = df['tags'].map(lambda x: x.lower())

In [147]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

# cvect = CountVectorizer(max_features=3000, stop_words='english')
tvect = TfidfVectorizer(max_features=3000, stop_words='english')

In [148]:
# vect = cvect.fit_transform(df['tags']).toarray()
vect = tvect.fit_transform(df['tags']).toarray()

In [149]:
vect

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.29393621, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [150]:
from sklearn.metrics.pairwise import cosine_similarity

In [151]:
similarity = cosine_similarity(vect)

In [152]:
similarity[0]

array([1.        , 0.        , 0.00243485, ..., 0.00242625, 0.00261573,
       0.05415475])

In [153]:
sorted(similarity[0], reverse=True)[0:5]

[1.0000000000000002,
 0.21393386497264974,
 0.21121000866143738,
 0.1946878730946258,
 0.16830984424185996]

In [154]:
sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x: x[1])[0:6]

[(0, 1.0000000000000002),
 (2769, 0.21393386497264974),
 (2049, 0.21121000866143738),
 (4783, 0.1946878730946258),
 (4734, 0.16830984424185996),
 (2419, 0.16585943129872296)]

In [155]:
df[df['title'] == "The Walking Dead"].index[0]

183

In [156]:
df['title'].iloc[4783]

'Sliver'

In [157]:
def recommend_movie(title):
    mov_index = df[df['title'] == title].index[0]
    show_list = sorted(list(enumerate(similarity[mov_index])), reverse=True, key=lambda x: x[1])[1:6]

    for i in show_list:
        print(df['title'].iloc[i[0]])

In [158]:
recommend_movie('Jaws')

Jaws 2
Jaws: The Revenge
In The Deep
Deep Blue Sea
Jaws 3

In [159]:
recommend_movie('The Twilight Saga: Breaking Dawn: Part 1')

The Twilight Saga: Breaking Dawn: Part 2
Twilight
The Twilight Saga: New Moon
The Twilight Saga: Eclipse
Guest House